<%= link_to "Back to cocktail list", root_path %>

<div class="container">
    <h1>Ajout d'un cocktail</h1>

  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
