<%= link_to "Back to cocktail list", cocktails_path %>

<h1>Cocktail: <%= @cocktail.name %></h1>


<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail)  %>

<% @doses.each do |dose|%>
  <% if dose.cocktail_id == @cocktail.id %>
    <p>Ingrédient: <%= dose.ingredient.name %></p>
    <p>Volume: <%= dose.description %></p>
    <%= link_to "Delete dose",
                cocktail_dose_path(dose),
                method: :delete %>
  <% end %>
<% end %>
