<div class="container bg-secondary">
<!-- Title -->
<h1 class="text-white"><%= @cocktail.name %></h1>

<!-- Photo -->
<% if @cocktail.photo.attached? %>
  <%= cl_image_tag @cocktail.photo.key, height: 400, width: 500, crop: :fill %>
<% else %>
  <p></p>
<% end %>

  <div>
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail)  %>
  <% @doses.each do |dose|%>
    <% if dose.cocktail_id == @cocktail.id %>
      <p>Ingrédient: <%= dose.ingredient.name %></p>
      <p>Volume: <%= dose.description %></p>
      <%= link_to "Delete dose",
                  cocktail_dose_path(dose),
                  method: :delete %>
    <% end %>
  <% end %>
  </div>
</div>
