<br>
<br>
<br>
<div class="container pt-5 pb-5 pl-3 pr-3"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url('<%= cl_image_path @cocktail.photo.key, height: 600 %>')">

  <!-- Title and photo-->
  <h1 class="text-white text-center display-2">
    <%= @cocktail.name %>
  </h1>

  <div>
    <!-- Sous-titre -->
  <h3 class="text-white"><strong>Recette</strong></h3>

  <!-- Display all doses -->
  <% @doses.each do |dose|%>
    <% if dose.cocktail_id == @cocktail.id %>
      <p class="text-white">
        <%= dose.description %> de <%= dose.ingredient.name %>
        <%= link_to cocktail_dose_path(dose), method: :delete, class:"text-white" do %>
          <i class="fa fa-trash" aria-hidden="true" target="_blank"></i>
          <% end %>
        </p>
    <% end %>
  <% end %>

  <!-- Link to add a dose -->
  <%= link_to "Ajouter une dose", new_cocktail_dose_path(@cocktail), class:"btn btn-light"  %>
  </div>
</div>
