<%= render '/shared/fr-navbar' %>
<div class="mt-5 mb-5">
  <p style="color: white;">spacing</p>
</div>
<div class="mt-5 mb-5">
</div>
<div class="mt-5">

<div class="content-wrapper container">
  <h2 class="green-font"> <b><i>
     Le programme Little Ecologists
    </i></b>
  </h2>

  <h3>
    Un programme éducatif de sensibilisation de l’environnement en Français proposé en ligne et dans les écoles à New York City.
  </h3>
  <h3>
    Des classes écologiques qui responsabilisent les enfants et développent leur sensibilité à la nature et l’écologie.
  </h3>
  <h3>
    Des activités ludiques pour rendre plus concret  la protection de l’environnement.
  </h3>
  <h3>
    Un contenu adapté à l'âge des enfants de 4 à 10 ans : activités manuelles, lectures, travail en mode projet, introduction de concepts scientifiques pour les plus grands.
  </h3>

  <!-- Video -->
  <div class="container mt-3 mb-3">
    <div class="d-flex justify-content-center">
      <iframe width="600"
              height="315"
              src="https://www.youtube.com/embed/Cub6ux0v2Ew"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>

  <!-- --------------------------------------------------------------------- -->
 <!-- PROGRAMME ARC-EN-CIEL -->
  <!-- --------------------------------------------------------------------- -->

  <br>
  <h2 class="green-font mt-3"><b><i>
     Structure du programme Arc-en-ciel
    </i></b>
  </h2>


  <h3>
    Le programme "Arc-en-ciel" suit le cycle de la nature avec les 4 saisons et les couleurs de l’Arc-en-ciel autour de thèmes comme le réchauffement climatique ou la réduction des déchets.
  </h3>

  <h3>
    Little Ecologists propose une introduction aux concepts clés de l'écologie et aux bonnes actions du quotidien qui font du bien à la Planète.
  </h3>

  <h3>
    Il est composé de <b class="green-font">8 cours de 60 minutes organisés sur Zoom 1 fois par semaine</b> et de <b class="green-font">2 ateliers éco-ludiques</b> au début et à la fin du programme.
  </h3>

  <h3>
    Nous proposons également des services personnalisés pour répondre au besoin de parents et des enfants :
    <ul>
     <li>
      un suivi hebdomadaire pour suivre la mise en place des bonnes habitudes et accompagner les parents dans cette transformation familiale.
     </li>
      <li>
        du tutoria individuel pour les enfants bilingues.
      </li>
    </ul>
  </h3>

  <h3>
    Vous pouvez
    <a href="mailto:marie@little-ecologists.com",
    class="green-font">
      nous contacter directement
    </a>
    pour ces services additionnels personnalisés.
  </h3>

  <!-- --------------------------------------------------------------------- -->
  <!-- PROGRAMME ARC-EN-CIEL ET ESPECES PROTEGEES -->
  <!-- --------------------------------------------------------------------- -->


  <h2 class="green-font mt-3"><b><i>
     Structure du programme Arc-en-ciel et Espèces protégées
    </i></b>
  </h2>


  <h3>
    Le programme “Arc-en-ciel et Espèces en danger” suit le cycle de la nature avec les 4 saisons, les couleurs de l’Arc-en-ciel et les différentes espèces menacées de disparition à cause du changement climatique.
  </h3>

  <h3>
    Les thèmes comme le réchauffement climatique, la biodiversité, l’alimentation, ou la réduction des déchets seront abordés.
  </h3>

  <h3>
    Little Ecologists propose une introduction aux concepts clés de l'écologie et aux bonnes actions du quotidien qui font du bien à la Planète.
  </h3>

  <h3>
    Il est composé de <b class="green-font">12 cours de 60 minutes organisés sur Zoom 1 fois par semaine</b> et de <b class="green-font">2 ateliers éco-ludiques</b> au début et à la fin du programme.
  </h3>

  <h3>
    Nous proposons également des services personnalisés pour répondre au besoin de parents et des enfants :
    <ul>
     <li>
      un suivi hebdomadaire pour suivre la mise en place des bonnes habitudes et accompagner les parents dans cette transformation familiale.
     </li>
      <li>
        du tutoria individuel pour les enfants bilingues.
      </li>
    </ul>
  </h3>

  <div class="d-flex justify-content-center mt-3">
    <%= image_tag "atelier-arc-en-ciel-rainbow-hands-girl.jpg",
        alt: "Rainbow girl",
        width: "70%",
        style: "border-radius: 1rem" %>
  </div>

  <!-- --------------------------------------------------------------------- -->
  <!-- THEMES ABORDES -->
  <!-- --------------------------------------------------------------------- -->

  <br>
  <br>
  <h2 class="green-font"> <b><i>
      Les thèmes abordés
    </i></b>
  </h2>

  <div class="container">
      <div class="row">
      <div class="col-1 d-flex justify-content-center">
        <h3>
          <i class="fas fa-globe-americas fa-lg blue-font"></i>
        </h3>
      </div>
      <div class="col-11 ml-0 pl-0">
        <h3>
          Le réchauffement climatique
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-1 d-flex justify-content-center">
        <h3>
          <i class="fas fa-sun fa-lg orange-font"></i>
        </h3>
      </div>
      <div class="col-11 ml-0 pl-0">
        <h3>
          Les énergies fossiles et renouvelables
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-1 d-flex justify-content-center">
        <h3>
          <i class="fas fa-recycle fa-lg green-font"></i>
        </h3>
      </div>
      <div class="col-11 ml-0 pl-0">
        <h3>
          Le recyclage des déchets
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-1 d-flex justify-content-center">
        <h3>
          <i class="fas fa-utensils fa-lg light-red-font"></i>
        </h3>
      </div>
      <div class="col-11 ml-0 pl-0">
        <h3>
          Le gaspillage alimentaire
        </h3>
      </div>
    </div>


    <div class="row">
      <div class="col-1 d-flex justify-content-center">
        <h3>
          <i class="fas fa-tree fa-lg green-font"></i>
        </h3>
      </div>
      <div class="col-11 ml-0 pl-0">
        <h3>
          La protection des forêts et espaces naturels
        </h3>
      </div>
    </div>


    <div class="row">
      <div class="col-1 d-flex justify-content-center">
        <h3>
          <i class="fas fa-mountain fa-lg dark-brown-font"></i>
        </h3>
      </div>
      <div class="col-11 ml-0 pl-0">
        <h3>
          Les ressources naturelles
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-1 d-flex justify-content-center">
        <h3>
          <i class="fas fa-water fa-lg blue-font"></i>
        </h3>
      </div>
      <div class="col-11 ml-0 pl-0">
        <h3>
          La protection des océans
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-1 d-flex justify-content-center">
        <h3>
          <i class="fas fa-shopping-bag fa-lg light-purple-font"></i>
        </h3>
      </div>
      <div class="col-11 ml-0 pl-0">
        <h3>
          Le plastique
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-1 d-flex justify-content-center">
        <h3>
          <i class="fas fa-users fa-lg blue-font"></i>
        </h3>
      </div>
      <div class="col-11 ml-0 pl-0">
        <h3>
          L'impact de l'homme et de chaque geste du quotidien
        </h3>
      </div>
    </div>
  </div>

  <!-- --------------------------------------------------------------------- -->
  <!-- DASHED DIVIDER -->
  <!-- --------------------------------------------------------------------- -->

  <div class="container">
    <hr class="dashed">
  </div>
  <br>

  <!-- --------------------------------------------------------------------- -->
  <!-- EXEMPLES D'ACTIVITES -->
  <!-- --------------------------------------------------------------------- -->
  <h2 class="green-font"> <b><i>
      Exemples d'activités
    </i></b>
  </h2>

  <h3>
    Les activités proposées lors des classes Little Ecologists sont ludiques, engageantes. Elles ont pour but de montrer à l’enfant l’impact de l’action des hommes sur l’environnement, des aspects de la nature, et l’accompagner dans la création de bonnes habitudes.
  </h3>

  <div class="row mb-5">
    <div class="col-3 pt-3">
      <%= image_tag 'activities/arc-en-ciel-mathilde.jpg',
        class: "activities-image float-left",
        alt: "arc en ciel mathilde" %>
    </div>
    <div class="col-3 pt-3">
      <%= image_tag 'activities/guirlande-fruits-legumes.jpg',
        class: "activities-image float-left",
        alt: "guirlande fruits legume" %>
    </div>
    <div class="col-3 pt-3">
      <%= image_tag 'activities/volcan-longovicien.jpg',
        class: "activities-image float-left",
        alt: "volcan-longovicien" %>
    </div>
    <div class="col-3 pt-3">
      <%= image_tag 'activities/arc-en-ciel-jeremy.jpg',
        class: "activities-image float-left",
        alt: "arc en ciel jeremy" %>
    </div>
  </div>

  <!-- --------------------------------------------------------------------- -->
  <!-- EXEMPLES DE LECTURES -->
  <!-- --------------------------------------------------------------------- -->
  <br>
  <h2 class="green-font"> <b><i>
      Exemples de lectures
    </i></b>
  </h2>
  <h3>
    Les lectures proposées lors des classes Little Ecologists sont ludiques, engageantes et adaptées à l’âge des enfants. Les livres sont sélectionnés avec soin et transportent les enfants dans un univers poétique, esthétique autour de la beauté, la force et la fragilité de la nature.
  </h3>

<!-- --------------------------------------------------------------------- -->
<!-- CARROUSSEL LECTURES -->
<!-- --------------------------------------------------------------------- -->

  <div class="bg-white mb-3">
    <div class="container home-carroussel-height">
      <div class="row">
        <div class="col-12">
          <div class="carousel slide" data-ride="carousel" id="quote-carousel">
            <!-- Carousel Slides / Quotes -->
            <div class="carousel-inner text-center quote-height">
              <!-- Quote 1 -->
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-sm-4">  <!-- col-sm-offset-2 -->
                    <p class="text-right">
                      <b>D’une Petite Graine Verte</b>
                      <br>
                       par Mathias Friman
                    </p>
                  </div>
                  <div class="col-sm-8">
                    <%= image_tag 'readings/dune-petite-graine-verte.jpg',
                    class: "fit-image",
                    alt: "petite graine verte" %>
                  </div>
                </div>
              </div>
              <!-- Quote 2 -->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-4">
                    <p class="text-right">
                      <b>Jaune Désert</b>
                      <br>
                        par Eric Battut
                    </p>
                  </div>
                  <div class="col-sm-8">
                    <%= image_tag 'readings/jaune-desert.jpg',
                    class: "fit-image",
                    alt: "jaune desert" %>
                  </div>
                </div>
              </div>
              <!-- Quote 3 -->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-4">
                    <p class="text-right">
                     <b>Mission Planète</b>
                     <br>
                       par Maud Fontenoy
                    </p>
                  </div>
                  <div class="col-sm-8">
                    <%= image_tag 'readings/mission-planete.jpg',
                    class: "fit-image",
                    alt: "mission planete" %>
                  </div>
                </div>
              </div>
              <!-- Quote 4 -->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-4">
                    <p class="text-right">
                      <b>Marivière</b>
                      <br>
                      par Catherine Lepage
                    </p>
                  </div>
                  <div class="col-sm-8">
                    <%= image_tag 'readings/mariviere-couv.gif',
                    class: "fit-image",
                    alt: "mariviere" %>
                  </div>
                </div>
              </div>
            </div>

            <!-- Carousel Buttons Next/Prev -->
            <!-- Bottom Carousel Indicators -->
            <div class="row mb-3">
              <div class="col-2">
                <a data-slide="prev" href="#quote-carousel" class="carousel-control-prev"><i class="fa fa-chevron-left text-kc-turquoise"></i></a>
              </div>
              <div class="col-8">
                <ol class="carousel-indicators carousel-indicators--thumbnails">
                  <li data-target="#quote-carousel" data-slide-to="0" class="active">
                  </li>
                  <li data-target="#quote-carousel" data-slide-to="1">
                  </li>
                  <li data-target="#quote-carousel" data-slide-to="2">
                  </li>
                  <li data-target="#quote-carousel" data-slide-to="3">
                  </li>
                </ol>
              </div>
              <div class="col-2">
                <a data-slide="next" href="#quote-carousel" class="carousel-control-next"><i class="fa fa-chevron-right text-kc-turquoise"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- --------------------------------------------------------------------- -->
  <!-- GROUPES -->
  <!-- --------------------------------------------------------------------- -->
  <br>
  <h2 class="green-font"> <b><i>
      Les groupes
    </i></b>
  </h2>

  <h3>
    Les classes seront organisées en petits groupes de 5 enfants maximum.
  </h3>

  <h3>
    Chaque groupe est constitué en fonction de l’âge de l’enfant.
  </h3>
</div>

<br>
<!-- Cards -->
<div class="container">
  <div class="row">

    <!-- ECORAIL -->
    <div class="col-md-6 col-sm-12">
      <div class="card card-height">

        <!-- Title -->
        <p class="light-red-font mt-0 mb-1"><i><b>
          L'Ecorail
        </b></i></p>

        <!-- Image -->
        <%= image_tag "corail.png",
            alt: "ecorail",
            style: 'height:30%; border-radius: 1rem' %>

        <!-- Text -->
        <div class="card-text">
          <p><small>
            Pour les enfants de 4 ans, actuellement en Moyenne Section de Maternelle / Pre-Kindergarten
          </small></p>
        </div>

        <!-- Subscribe button -->
        <div class="bottom-button">
          <a href="https://mailchi.mp/16765f6c4764/inscription-little-ecologists"
             class="btn btn-info active"
             role="button" aria-pressed="true">
             Inscrire mon enfant
           </a>
        </div>

      </div>
    </div>

    <!-- ECOCINNELLE -->
    <div class="col-md-6 col-sm-12">
      <div class="card card-height">

        <!-- Title -->
        <p class="light-red-font mt-0 mb-1"><i><b>
          L'Ecocinnelle
        </b></i></p>

        <!-- Image -->
        <%= image_tag "coccinelle.png",
            alt: "ecocinnelle",
            style: 'height:30%; border-radius: 1rem' %>

        <!-- Text -->
        <div class="card-text">
          <p><small>
            Pour les 5 ans, actuellement en Kindergarten et Grande Section de Maternelle
          </small></p>
          <p><small>
            Ouverture en cours d’une classe pour les 4 ans, pre K ou Moyenne Section de Maternelle
          </small></p>
        </div>

        <!-- Subscribe button -->
        <div class="bottom-button">
          <a href="https://mailchi.mp/16765f6c4764/inscription-little-ecologists"
             class="btn btn-info active"
             role="button" aria-pressed="true">
             Inscrire mon enfant
           </a>
        </div>

      </div>
    </div>

    <!-- ECOLIBRI -->
    <div class="col-md-6 col-sm-12">
      <div class="card card-height">

        <!-- Title -->
        <p class="green-font mt-0 mb-1"><i><b>
          L'Ecolibri
        </b></i></p>

        <!-- Image -->
        <%= image_tag "colibri.png",
            alt: "ecolibri",
            style: 'height:30%; border-radius: 1rem' %>

        <!-- Text -->
        <div class="card-text">
          <p><small>
            Pour les 5 ans, actuellement en Kindergarten et Grande Section de Maternelle
          </small></p>
        </div>

        <!-- Subscribe button -->
        <div class="bottom-button">
          <a href="https://mailchi.mp/16765f6c4764/inscription-little-ecologists"
             class="btn btn-info active"
             role="button" aria-pressed="true">
             Inscrire mon enfant
           </a>
        </div>

      </div>
    </div>

    <!-- EKOALA -->
    <div class="col-md-6 col-sm-12">
      <div class="card card-height">

        <!-- Title -->
        <p class="dark-brown-font mt-0 mb-1"><i><b>
          L'Ekoala
        </b></i></p>

        <!-- Image -->
        <%= image_tag "koala.png",
            alt: "ekoala",
            style: 'height:30%; border-radius: 1rem' %>

        <!-- Text -->
        <div class="card-text">
          <p><small>
            Pour les 8-10 ans, en 3rd Grade, 4th Grade et CE2, CM1
          </small></p>
        </div>

        <!-- Subscribe button -->
        <div class="bottom-button">
          <a href="https://mailchi.mp/16765f6c4764/inscription-little-ecologists"
             class="btn btn-info active"
             role="button" aria-pressed="true">
             Inscrire mon enfant
           </a>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- --------------------------------------------------------------------- -->
<!-- Planning -->
<!-- --------------------------------------------------------------------- -->

<br>
<div class="container">
  <h2 class="green-font"> <b><i>
     Calendrier
    </i></b>
  </h2>


  <div class="d-flex justify-content-center mt-3">
    <%= image_tag "planning-automne-2020.png",
        alt: "planning",
        style: 'width:100%; border-radius: 1rem' %>
  </div>

  <br>
  <p>
    Il y aura 2 coupures, pour les vacances de la Toussaint (24/10) en France et Thanksgiving aux USA (28/11) - possibilité d'adapter en fonction des groupes géographiques.
  </p>

</div>

