<%= render '/shared/fr-navbar' %>
<div class="mt-5 mb-5">
  <p style="color: white;">spacing</p>
</div>
<div class="mt-5 mb-5">
</div>
<div class="mt-5">

<div class="content-wrapper container">
  <h2 class="green-font"> <b><i>
     Le programme Little Ecologists
    </i></b>
  </h2>

  <h3>
    Un programme éducatif de sensibilisation de l’environnement en Français proposé en ligne et dans les écoles à New York City.
  </h3>
  <h3>
    Des classes écologiques qui responsabilisent les enfants et développent leur sensibilité à la nature et l’écologie.
  </h3>
  <h3>
    Des activités ludiques pour rendre plus concret  la protection de l’environnement.
  </h3>
  <h3>
    Un contenu adapté à l'âge des enfants de 4 à 10 ans : activités manuelles, lectures, travail en mode projet, introduction de concepts scientifiques pour les plus grands.
  </h3>

  <div class="d-flex justify-content-center mt-3">
    <%= image_tag "atelier-arc-en-ciel-rainbow-hands-girl.jpg", alt: "Rainbow girl", width: "60%" %>
  </div>


  <br>
  <h2 class="green-font mt-3"><b><i>
     Structure du programme
    </i></b>
  </h2>

  <h3>
    Le programme suit le cycle de la nature avec les 4 saisons et les couleurs de l’Arc-en-ciel autour de thèmes comme le réchauffement climatique ou la réduction des déchets.
  </h3>

  <h3>
    Little Ecologists propose une introduction aux concepts clés de l'écologie et aux bonnes actions du quotidien qui font du bien à la Planète.
  </h3>

  <h3>
    Il est composé de <b class="green-font">8 cours de 60 minutes organisés sur Zoom 1 fois par semaine</b> et de <b class="green-font">2 ateliers éco-ludiques</b> au début et à la fin du programme.
  </h3>

  <h3>
    Nous proposons également des services personnalisés pour répondre au besoin de parents et des enfants :
    <ul>
     <li>
      un suivi hebdomadaire pour suivre la mise en place des bonnes habitudes et accompagner les parents dans cette transformation familiale.
     </li>
      <li>
        du tutoria individuel pour les enfants bilingues.
      </li>
    </ul>
  </h3>

  <h3>
    Vous pouvez
    <a href="mailto:marie@little-ecologists.com",
    class="green-font">
      nous contacter directement
    </a>
    pour ces services additionnels personnalisés.
  </h3>

  <br>
  <h2 class="green-font"> <b><i>
      Les thèmes abordés
    </i></b>
  </h2>

  <h3>
    <i class="fas fa-globe-americas fa-lg blue-font"></i>
    Le réchauffement climatique
  </h3>
  <h3>
    <i class="fas fa-sun fa-lg orange-font"></i>
    Les énergies fossiles et renouvelables
  </h3>
  <h3>
    <i class="fas fa-recycle fa-lg green-font"></i>
    Le recyclage des déchets
  </h3>
  <h3>
    <i class="fas fa-utensils fa-lg light-red-font"></i>
    Le gaspillage alimentaire
  </h3>
  <h3>
    <i class="fas fa-tree fa-lg green-font"></i>
    La protection des forêts et espaces naturels
  </h3>
  <h3>
    <i class="fas fa-mountain fa-lg dark-brown-font"></i>
    Les ressources naturelles
  </h3>
  <h3>
    <i class="fas fa-water fa-lg blue-font"></i>
    La protection des océans
  </h3>
  <h3>
    <i class="fas fa-shopping-bag fa-lg light-purple-font"></i>
    Le plastique
  </h3>
  <h3>
    <i class="fas fa-users fa-lg blue-font"></i>
    L'impact de l'homme et de chaque geste du quotidien
  </h3>

  <br>

  <h2 class="green-font"> <b><i>
      Les groupes
    </i></b>
  </h2>

  <h3>
    Les classes seront organisées en petits groupes de 5 enfants maximum.
  </h3>

  <h3>
    Chaque groupe est constitué en fonction de l’âge de l’enfant.
  </h3>
</div>

<br>
<div class="container">
  <div class="row">

    <div class="col-4">
      <div class="card card-height">

        <!-- Title -->
        <p class="light-red-font mt-0 mb-1"><i><b>
          L'Ecocinnelle
        </b></i></p>

        <!-- Image -->
        <%= image_tag "coccinelle.png",
            alt: "ecocinnelle",
            style: 'width:90%; border-radius: 1rem' %>

        <!-- Text -->
        <div class="card-text">
          <p><small>
            Pour les 5 ans, actuellement en Kindergarten et Grande Section de Maternelle
          </small></p>
          <p><small>
            Ouverture en cours d’une classe pour les 4 ans, pre K ou Moyenne Section de Maternelle
          </small></p>
        </div>

        <!-- Subscribe button -->
        <div class="bottom-button">
          <a href="mailto:marie@little-ecologists.com"
             class="btn btn-info active"
             role="button" aria-pressed="true">
             Inscrire mon enfant
           </a>
        </div>

      </div>
    </div>

    <div class="col-4">
      <div class="card card-height">

        <!-- Title -->
        <p class="green-font mt-0 mb-1"><i><b>
          L'Ecolibri
        </b></i></p>

        <!-- Image -->
        <%= image_tag "colibri.png",
            alt: "ecolibri",
            style: 'width:90%; border-radius: 1rem' %>

        <!-- Text -->
        <div class="card-text">
          <p><small>
            Pour les 5 ans, actuellement en Kindergarten et Grande Section de Maternelle
          </small></p>
        </div>

        <!-- Subscribe button -->
        <div class="bottom-button">
          <a href="mailto:marie@little-ecologists.com"
             class="btn btn-info active"
             role="button" aria-pressed="true">
             Inscrire mon enfant
           </a>
        </div>

      </div>
    </div>

    <div class="col-4">
      <div class="card card-height">

        <!-- Title -->
        <p class="dark-brown-font mt-0 mb-1"><i><b>
          L'Ekoala
        </b></i></p>

        <!-- Image -->
        <%= image_tag "koala.png",
            alt: "ekoala",
            style: 'width:90%; border-radius: 1rem' %>

        <!-- Text -->
        <div class="card-text">
          <p><small>
            Pour les 8-10 ans, en 3rd Grade, 4th Grade et CE2, CM1
          </small></p>
        </div>

        <!-- Subscribe button -->
        <div class="bottom-button">
          <a href="mailto:marie@little-ecologists.com"
             class="btn btn-info active"
             role="button" aria-pressed="true">
             Inscrire mon enfant
           </a>
        </div>

      </div>
    </div>

  </div>
</div>

<br>
<div class="container">
  <h2 class="green-font"> <b><i>
     Calendrier
    </i></b>
  </h2>

  <!-- Planning -->
  <div class="d-flex justify-content-center mt-3">
    <%= image_tag "planning-automne-2020.png",
        alt: "planning",
        style: 'width:100%; border-radius: 1rem' %>
  </div>

  <br>
  <p>
    Il y aura 2 coupures, pour les vacances de la Toussaint (24/10) en France et Thanksgiving aux USA (28/11) - possibilité d'adapter en fonction des groupes géographiques.
  </p>

</div>

