<%= render '/shared/fr-navbar' %>
<div class="mt-1 mb-5">
  <p style="color: white;">spacing</p>
</div>

<div class="container">
  <div id="home-pictures">
    <div class="row">
      <div class="col-4">
        <!-- Logo -->
        <%= image_tag "little_ecologists_sans_slogan.jpg", alt: "logo", width: "100%" %>

      </div>
      <div class="col-8 pl-3" id="tagline">
        <!-- Nom -->
        <%= image_tag "raising-future-awareness.png", alt: "Raising future generation awareness", width: "80%" %>
      </div>
    </div>
  </div>
</div>

  <!-- Texte mission -->

<div class="container mt-2">
  <div class="row">
    <div class="col-12">
    <h2 class="green-font">
      <b>
        <i>
          Notre mission
        </i>
      </b>
    </h2>

    <h3>
      Notre mission est d’éduquer les enfants à protéger l’environnement
      et à créer des habitudes respectueuses de la nature avec:
    </h3>
    <ul>
      <li>
        <h3>
          Un programme éducatif de sensibilisation à l’environnement en Français, proposé en ligne et dans les écoles.
        </h3>
      </li>
      <li>
        <h3>
          Des classes écologiques qui responsabilisent les enfants et développent leur sensibilité à la nature et l’écologie.
        </h3>
      </li>
      <li>
        <h3>
          Une approche pensée pour les enfants de la Grande Section au CM1
        </h3>
      </li>
    </ul>

    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-3">
  <%= image_tag "tree-world.png",
      alt: "tree", width: "80%" %>
</div>

<div class="mt-5"></div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="green-font">
        <b>
          <i>
            Pourquoi Little Ecologists?
          </i>
        </b>
      </h2>
    </div>
    <div class="col-12">

      <h3>
        Les enfants sont notre futur.
      </h3>
      <h3>
        La Terre est notre planète.
      </h3>
      <h3>
        Les enfants sont fortement connectés à la Terre et ils ressentent le déséquilibre que la planète vit avec le réchauffement climatique.
      </h3>
      <h3>
        L’éco-anxiété accable et bouleverse émotionnellement les enfants.
      </h3>
      <h3>
        Agir de manière responsable et consciente est un moyen pour les enfants de se sentir mieux et de canaliser leur énergie.
      </h3>

    </div>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-6 d-flex justify-content-center mt-3">
    <a href="http://www.little-ecologists.com/nos_classes"
       class="btn btn-success btn-lg active"
       role="button" aria-pressed="true">
       Découvrir nos classes
     </a>
  </div>
  <div class="col-6 d-flex justify-content-center mt-3">
    <a href="http://www.little-ecologists.com/nos_ateliers"
       class="btn btn-success btn-lg active"
       role="button" aria-pressed="true">
       Découvrir nos ateliers
     </a>
  </div>
</div>
</div>

<div class="mt-5"></div>

<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= image_tag "beach-quote.png",
        alt: "Beach",
        style: 'width:80%;'
        %>
<!--         <h3 class="overlay-text">
        <i>
          “Nous n’héritons pas de la terre de nos parents,
          <br>
          nous l’empruntons à nos enfants.”
        </i>
        <br>
        - Antoine de Saint-Exupéry
      </h3> -->
    </div>
  </div>
</div>
