<%= render '/shared/fr-navbar' %>
<div class="mt-1 mb-5">
  <p style="color: white;">spacing</p>
</div>

<div class="container">
  <div id="home-pictures">
    <div class="row">
      <div class="col-4">
        <!-- Logo -->
        <%= image_tag "little_ecologists_sans_slogan.jpg", alt: "logo", width: "100%" %>

      </div>
      <div class="col-8 pl-3" id="tagline">
        <!-- Nom -->
        <%= image_tag "raising-future-awareness.png",
            alt: "Raising future generation awareness",
            width: "80%" %>
      </div>
    </div>
  </div>
</div>


<!-- --------------------------------------------------------------------- -->
<!-- MISSION -->
<!-- --------------------------------------------------------------------- -->

<div class="container mt-2">
  <div class="row">
    <div class="col-12">
    <h2 class="green-font">
      <b>
        <i>
          Notre mission
        </i>
      </b>
    </h2>

    <h3>
      Notre mission est d’éduquer les enfants à protéger l’environnement
      et à créer des habitudes respectueuses de la nature avec:
    </h3>
    <ul>
      <li>
        <h3>
          Un programme éducatif de sensibilisation à l’environnement en Français, proposé en ligne et dans les écoles.
        </h3>
      </li>
      <li>
        <h3>
          Des classes écologiques qui responsabilisent les enfants et développent leur sensibilité à la nature et l’écologie.
        </h3>
      </li>
      <li>
        <h3>
          Une approche pensée pour les enfants de la Grande Section au CM1
        </h3>
      </li>
    </ul>

    </div>
  </div>
</div>

<!-- --------------------------------------------------------------------- -->
<!-- DIVIDER -->
<!-- --------------------------------------------------------------------- -->

<div class="container">
  <hr class="dashed">
</div>

<!-- --------------------------------------------------------------------- -->
<!-- TESTIMONIALS -->
<!-- --------------------------------------------------------------------- -->

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2 class="green-font">
        <b>
          <i>
            Ce que disent les parents
          </i>
        </b>
      </h2>
    </div>
  </div>
</div>

<div class="bg-white mb-3">
  <div class="container home-carroussel-height">
    <div class="row">
      <div class="col-12">
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner text-center quote-height">
            <!-- Quote 1 -->
            <div class="carousel-item active">
              <blockquote>
                <div class="row">
                  <div class="col-sm-12">  <!-- col-sm-offset-2 -->
                    <p>
                      Ce cours est fantastique pour apprendre aux jeunes enfants le concept d’écologie et de préservation de notre planète.
                      C’est super ludique et mon fils de 4 ans adore.
                      <br>
                      Et aussi, pour les enfants bilingues, c’est une super façon de parler plus le français que d’autres sujets moins classiques et plus connectés avec notre temps. Amusez vous!
                    </p>
                    <small>- Eléonore, maman de Solal, 4 ans</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 2 -->
            <div class="carousel-item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-12">
                    <p>
                      Maia a adoré les volcans la semaine derniere. Je pense que c’est un big Win pour nous 🙂
                      Elle adore la classe.
                    </p>
                    <small>- Marie-Sophie, maman de Maia, 5 ans</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 3 -->
            <div class="carousel-item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-12">
                    <p>
                      On se remémore les bonnes actions, j’ai acheté du yaourt dans un pot en verre pour Mathilde, les nôtres au soja sont fait dans la yaourtière, Mathilde s’applique et le rappelle bien les règles pour économiser l’eau etc...
                    </p>
                    <small>- Elodie, maman de Mathilde, 5 ans</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 4 -->
            <div class="carousel-item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-12">
                    <p>
                      Ce concept de classe pour sensibiliser nos enfants à l’écologie est tout simplement génial,
                      l’enfant apprend des choses et par la même occasion nous aussi, les cours sont bien structurés et avec Marie comme prof le cours passe très vite,
                      elle est pédagogue et douce à la fois ce qui n’est pas chose facile quand on doit gérer des élèves à distance!
                      <br>
                      N’hésitez plus inscrivez-vous 😉
                    </p>
                    <small>- Elodie, maman de Mathilde, 6 ans</small>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>

          <!-- Carousel Buttons Next/Prev -->
          <!-- Bottom Carousel Indicators -->
          <div class="row mb-3">
            <div class="col-2">
              <a data-slide="prev" href="#quote-carousel" class="carousel-control-prev"><i class="fa fa-chevron-left text-kc-turquoise"></i></a>
            </div>
            <div class="col-8">
              <ol class="carousel-indicators carousel-indicators--thumbnails">
                <li data-target="#quote-carousel" data-slide-to="0" class="active">
                </li>
                <li data-target="#quote-carousel" data-slide-to="1">
                </li>
                <li data-target="#quote-carousel" data-slide-to="2">
                </li>
                <li data-target="#quote-carousel" data-slide-to="3">
                </li>
              </ol>
            </div>
            <div class="col-2">
              <a data-slide="next" href="#quote-carousel" class="carousel-control-next"><i class="fa fa-chevron-right text-kc-turquoise"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- --------------------------------------------------------------------- -->
<!-- PRESSE -->
<!-- --------------------------------------------------------------------- -->

<div class="container pt-4 pb-3 pl-5 pr-5 light-green-cartridge">
  <div class="row">
    <div class="col-12">
      <h2 class="green-font">
        <b>
          <i>
            La presse parle de Little Ecologists
          </i>
        </b>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        Le programme s’adresse à des enfants de 4-10 ans et aborde des thèmes aussi divers que le recyclage des déchets, le gaspillage alimentaire et les inévitables gestes verts du quotidien à travers des classes et des ateliers.
        <i>
          “Mon objectif est aussi de changer les habitudes de familles entières. Les adultes changent grâce à leurs enfants.”
        </i>
      </p>
      <p>
        Little Ecologists ne doit pas uniquement servir à changer les habitudes des petits et des grands.
        Le projet doit aussi permettre de lutter contre le sentiment d'”éco-anxiété“, qui désigne la peur que ressentent les jeunes face à l’avenir d’une planète au climat déréglé.
        <i>
          “Les enfants de Californie sont en plein dedans, observe-t-elle. Les adolescents, en particulier, sont très touchés. C’est pour leur éviter cela quand ils grandiront que je veux me concentrer sur les plus petits“.
        </i>
      </p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-9">
      <p class="text-right">
        <a href="https://frenchmorning.com/little-ecologists-un-afterschool-en-francais-pour-sauver-la-planete/"
          style="font-size:90%">
          French Morning, 14 octobre 2020
        </a>
      </p>
    </div>
    <div class="col-3">
      <%= image_tag 'logo-french-morning.png',
                    class: "",
                    style: "width:100%",
                    alt: "French Morning" %>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center mt-3">
        <%= image_tag "tree-world.png",
            alt: "tree",
            width: "80%",
            style: "border-radius: 1rem" %>
      </div>
    </div>
  </div>
</div>

<div class="mt-5"></div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="green-font">
        <b>
          <i>
            Pourquoi Little Ecologists?
          </i>
        </b>
      </h2>
    </div>
    <div class="col-12">

      <h3>
        Les enfants sont notre futur.
      </h3>
      <h3>
        La Terre est notre planète.
      </h3>
      <h3>
        Les enfants sont fortement connectés à la Terre et ils ressentent le déséquilibre que la planète vit avec le réchauffement climatique.
      </h3>
      <h3>
        L’éco-anxiété accable et bouleverse émotionnellement les enfants.
      </h3>
      <h3>
        Agir de manière responsable et consciente est un moyen pour les enfants de se sentir mieux et de canaliser leur énergie.
      </h3>

    </div>
  </div>
</div>

<!-- --------------------------------------------------------------------- -->
<!-- Boutons -->
<!-- --------------------------------------------------------------------- -->

<div class="container">
  <div class="row">
    <div class="col-6 d-flex justify-content-center mt-3">
      <a href="http://www.little-ecologists.com/nos_classes"
         class="btn btn-success btn-lg active"
         role="button" aria-pressed="true">
         Découvrir nos classes
       </a>
    </div>
    <div class="col-6 d-flex justify-content-center mt-3">
      <a href="http://www.little-ecologists.com/nos_ateliers"
         class="btn btn-success btn-lg active"
         role="button" aria-pressed="true">
         Découvrir nos ateliers
       </a>
    </div>
  </div>
</div>

<div class="mt-5"></div>

<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= image_tag "beach-quote.png",
        alt: "Beach",
        style: 'width:80%;border-radius: 1rem'
        %>
    </div>
  </div>
</div>
