<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">



    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <!-- Navbar -->
      <div class="content-wrapper">
        <%= yield %>
      </div>


    <!-- Footer -->
    <div class="mt-5"></div>
    <div class="footer text-center padding-bottom-3">
      <ul>
        <div class="footer-links">
          <a href="#"><i class="fab fa-instagram text-white"></i></a>
          <a href="#"><i class="fab fa-facebook text-white"></i></a>
          <a href="#"><i class="fab fa-twitter text-white"></i></a>
          <a href="#"><i class="fab fa-linkedin text-white"></i></a>
        </div>
        <div><br></div>
        <div class="footer-copyright grey-text-color">
          Little Ecologist <i class="fas fa-copyright"></i>
        </div>
      </ul>
    </div>
    <div class="mb-3">
    </div>

    <!-- Importation javascript -->
  </body>
</html>
